<section class="d-flex h-full bg">
  <div class="container d-flex justify-content-center align-items-center">
    <div
      class="box bg-filter rounded-4 shadow animate-enter fade-in-10 zoom-in-75 animate-duration-1000"
    >
      <form [formGroup]="signinForm" class="w-300 p-5">
        <p class="text-center font-30">Sign In</p>

        <!-- Mobile Number -->
        <div class="d-flex justify-content-center align-items-center px-3 py-4">
          <input
            type="text"
            placeholder="Phone Number"
            class="border-0 px-5 py-2 rounded-3 font-20"
            formControlName="phone"
          />
        </div>
        <div
          *ngIf="signinForm.get('phone')?.invalid && signinForm.get('phone')?.touched"
          class="text-danger text-center"
        >
          <div *ngIf="signinForm.get('phone')?.errors?.['required']">
            Mobile number is required.
          </div>
          <div *ngIf="signinForm.get('phone')?.errors?.['pattern']">
            Enter a valid 10-digit mobile number.
          </div>
        </div>

        <!-- Password -->
        <div class="d-flex justify-content-center align-items-center px-3 py-4">
          <input
            type="password"
            placeholder="Password"
            class="border-0 px-5 py-2 rounded-3 font-20"
            formControlName="password"
          />
        </div>
        <div
          *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched"
          class="text-danger text-center"
        >
          <div *ngIf="signinForm.get('password')?.errors?.['required']">Password is required.</div>
          <div *ngIf="signinForm.get('password')?.errors?.['minlength']">
            Password must be at least 6 characters.
          </div>
        </div>

        <!-- Submit Button -->
        <div class="d-flex justify-content-center align-items-center py-3">
          <button
            type="button"
            class="px-5 py-2 border-0 rounded-4"
            (click)="onlogin()"
            [disabled]="!signinForm.valid"
          >
            Submit
          </button>
        </div>

        <p class="text-center font-20">
          Click here to <span class="underline" (click)="gotoregister()">Signup</span>
        </p>
      </form>
    </div>
  </div>
</section>

<p-toast></p-toast>
